<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--<script src="https://redom.js.org/redom.min.js"></script>-->
    <!--<script src="../js/globalFunctions.js"></script>-->
    <!--{% if title=='Periodic Table' %}-->
    <!--<script src="../js/ptable.js" defer></script>-->
    <!--{% endif %}-->
    <!--{% if title=='Tic-Tac-Toe' %}-->
    <!--<link rel="stylesheet" href="../css/board.css" />-->
    <!--{% endif %} -->
    <!--{% if title=='Office Quotes' %}-->
    <!--<script src="../js/officeQuotes.js"></script>-->
    <!--{% endif %} -->
    <!--{% if title=='Register' or title=='Log In' %}-->
    <!--<link rel="stylesheet" href="../css/logReg.css" />-->
    <!--<script src="../js/logReg.js"></script>-->
    <!--{% endif %}-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>{% block title%}{% endblock title %}</title>
  </head>
  <body>
    {% if title!='Register' and title!='Log In' %} {% include
    '../components/navbar.html' %} {% endif %} {% block body %}{% endblock body
    %} {% if title!='Register' and title!='Log In' %} {% include
    '../components/footer.html' %} {% endif %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
